.catalog {
  padding-top: 45px;
  margin-bottom: 42px;

  @media (min-width: @tablet-width) {
    padding-top: 90px;
    margin-bottom: 46px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 3px;
  }
}

.catalog__view {
  width: 253px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 48px;

  @media (min-width: @tablet-width) {
    margin-bottom: 78px;
    width: 438px;
    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    width: 572px;
    margin-bottom: 89px;
  }
}

.catalog__panorama {
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    margin-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 49px;
  }
}

.catalog__photo {
  display: block;
  width: 100%;
  background-color: #e5e5e5;

  @media (min-width: @tablet-width) {
    height: 300px;
    width: 300px;
  }

  @media (min-width: @desktop-width) {
    height: 400px;
  }
}

.catalog__photo-panorama img {
  width: 100%;
  background-color: #e5e5e5;

  @media (min-width: @tablet-width) {
    max-height: 600px;
  }

  @media (min-width: @desktop-width) {
    max-height: 750px;
  }
}

.catalog__wrapper {
  position: relative;
}

.catalog__caption {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  position: absolute;
  margin: 0;
  top: 0;
  right: 20px;
  font-size: 12px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
  background-color: #d22856;
  width: 140px;
  height: 36px;
  padding-top: 5px;
  box-sizing: border-box;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    top: 57px;
  }

  @media (min-width: @desktop-width) {
    top: 54px;
    right: 10px;
  }
}

.catalog__list {
  list-style: none;
  padding: 0;
  width: 280px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 620px;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
  }
}

.catalog__item {
  margin-bottom: 18px;

  @media (min-width: @tablet-width) {
    width: 300px;
    height: 455px;
    margin-right: 20px;
    margin-bottom: 19px;
  }

  @media (min-width: @desktop-width) {
    height: 555px;
    margin-bottom: 54px;
  }
}

.catalog__item:nth-child(2n) {
  @media (min-width: @tablet-width) {
    margin-right: 0;
  }

  @media (min-width: @desktop-width) {
    margin-right: 20px;
  }
}

.catalog__item:nth-child(3n) {
  @media (min-width: @desktop-width) {
    margin-right: 0;
  }
}

.catalog__card {
  background-color: #f2f2f2;
  padding: 20px 17px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    height: 155px;
    padding: 23px 29px;
  }
}

.catalog__card--panorama {
  width: 280px;
  padding: 16px 14px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    flex-wrap: wrap;
    flex-direction: row;
    width: 620px;
    padding-left: 29px;
    padding-right: 29px;
    padding-top: 13px;
    min-height: auto;
    padding-bottom: 15px;
    height: 119px;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
    height: 96px;
  }
}

.catalog__comment--panorama br {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.catalog__wrap {
  display: flex;
  position: relative;
}


.catalog__wrap--button {
  margin-top: auto;
  align-items: center;
}

.catalog__title {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  margin: 0;
  margin-bottom: 7px;
  margin-right: 3px;
}

.catalog__time {
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  padding-top: 2px;
}

.catalog__comment {
  font-size: 14px;
  margin: 0;
  margin-bottom: 10px;
  margin-top: -7px;

  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.catalog__button {
  display: block;
  margin-right: 18px;
  border: none;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  width: 13px;
  height: 12px;
  background-color: transparent;

  @media (min-width: @tablet-width) {
    order: 2;
    margin-left: auto;
    margin-right: 0;
  }
}

.catalog__wrap--panorama {
  align-items: center;
}

.catalog__wrap--panoram {
  align-items: center;

  @media (min-width: @tablet-width) {
    margin-left: auto;
    margin-right: 0;
    order: 3;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    margin-right: 0;
  }
}

.catalog__button--panorama {
  align-items: center;

  @media (min-width: @desktop-width) {
    margin-right: 7px;
  }
}

.catalog__like {
  font-size: 12px;
  line-height: 24px;
  color: #d22856;
  margin: 0;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    order: 1;
    justify-content: start;
  }
}

.catalog__title--panorama {
  @media (min-width: @tablet-width) {
    order: 1;
  }
}

.catalog__time--panorama {
  @media (min-width: @tablet-width) {
    order: 2;
    margin-right: 300px;
  }
}

.catalog__comment--panorama {
  @media (min-width: @tablet-width) {
    order: 5;
    width: 100%;
    margin-bottom: 0;
  }
}

.catalog__like--panorama {
  @media (min-width: @tablet-width) {
    order: 1;
    margin-right: 21px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 21px;
  }
}
