.download-app {
  margin-top: -92px;
  padding-top: 95px;
  margin-bottom: 46px;
  background-image: url("../img/back-mobile.png");
  background-size: 100%;
}

.download-app__slogan {
  text-align: center;
  line-height: 28px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.download-app__button-app {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  line-height: 18px;
  background-color: #1d2631;
  padding-top: 18px;
  padding-bottom: 18px;
  width: 280px;
  margin-bottom: 38px;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 29px;
  text-decoration: none;
  font-weight: 700;
}

.download-app__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 31px;
  margin-right: 35px;
}

.download-app__list:nth-of-type(3) {
  margin-right: 0;
}

.download-app__intro {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 38px;
  text-align: center;
}
