.download-app {
  background-image: url("../img/phone-mobile.png"), url("../img/back-mobile.jpg");
  background-repeat:  no-repeat;
  background-position: top;
  background-size: 100% 461px;
  margin-bottom: 40px;
  padding-bottom: 31px;
  background-color: #1d2631;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.jpg");
  }


  @media (min-width: @tablet-width) {
    background-image: url("../img/back-tablet.jpg");
    background-repeat: no-repeat;
    padding-bottom: 0;
    background-position: top;
    margin-bottom: 48px;
    background-size: 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet@2x.jpg");
      background-size: 100%;
    }
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 0;
    margin-bottom: 73px;
    background-image:  url("../img/back-desktop.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;

    @media (min-resolution: 2dppx) {
      background-image: url(../img/back-desktop@2x.jpg);
      background-size: 100%;
    }
  }
}


.download-app__wrapper {
  padding-top: 90px;
  margin-top: -65px;
  background-image: url("../img/phone-mobile.png");
  background-position: 0px 176px;
  background-repeat:  no-repeat;
  background-size: 320px 286px;
  background-image: url("../img/phone-mobile@2x.png");
  @media (min-width: @tablet-width) {
    margin-top: -110px;
    padding-top: 203px;
    background-image:   url("../img/phone-tablet.png");
    background-size: 660px ,540px;
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 115px;

    @media (min-resolution: 2dppx) {
      background-image: url(../img/phone-tablet@2x.png);
    }
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin-top: -145px;
    width: 940px;
    padding-top: 218px;
    padding-bottom: 115px;
    background-image: url("../img/phone-desktop.png");
    background-size: 1050px ,645px;
    background-repeat: no-repeat;
    background-position: 19px 208px;

    @media (min-resolution: 2dppx) {
      background-image: url(../img/phone-desktop@2x.png);
    }
  }
}

.download-app__slogan {
  font-family: "Open Sans Light", "Arial", sans-serif;
  text-align: center;
  line-height: 28px;
  color: #ffffff;
  font-weight: 300;
  margin: 0;
  width: 280px;
  margin-bottom: 343px;

  @media (min-width: @tablet-width) {
    margin-left: 28px;
    width: 245px;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 31px;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
    margin-bottom: 34px;
  }
}

.download-app__button-app {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  line-height: 18px;
  border: 3px solid #ffffff;
  margin: 0;
  padding: 16px 33px;
  width: 280px;
  margin-bottom: 32px;
  box-sizing: border-box;
  border-radius: 29px;
  text-decoration: none;
  font-weight: 700;

  @media (min-width: @tablet-width) {
    background-color: transparent;
    margin-bottom: 43px;
    padding: 16px 9px;
    width: 300px;
  }

  @media (min-width: @desktop-width) {
    font-size: 21px;
    line-height: 18px;
    padding: 17px 23px;
    margin-bottom: 67px;
    width: 300px;
  }
}

.download-app__button-app:hover {
  background-color: #ffffff;
  color: #d22856;
}

.download-app__button-app:active {
  background-color: #ffffff;
  color: fade(#d22856, 30%);
}


.download-app__list {
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 204px;
  align-items: center;
  margin-bottom: 13px;
  @media (min-width: @tablet-width) {
    margin: 0;
    margin-bottom: 26px;
    padding-left: 48px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 46px;
    padding-left: 47px;
  }
}


.download-app__intro {
  font-family: "Open Sans Light", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-weight: 300;
  font-size: 14px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    width: 308px;
    margin: 0;
    padding: 0;
  }
}

.download-app__item {
  margin-right: 35px;
}

.download-app__item:nth-last-child(1) {
  margin-right: 0;
}

.download-app__link {
  display: block;
  position: relative;
}

.download-app__app-store {
  width: 46px;
  height: 63px;
}

.download-app__google-play {
  width: 43px;
  height: 47px;
}

.download-app__microsoft {
  width: 44px;
  height: 41px;
}

.download-app__app-store::before{
  position: absolute;
  content: "";
  display: block;
  background-image: url(../img/apple-logo.svg);
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 46px;
  height: 63px;
}

.download-app__google-play::before{
  position: absolute;
  content: "";
  display: block;
  background-image: url(../img/android-logo.svg);
  background-repeat: no-repeat;
  top: 0;
  left: 0x;
  width: 43px;
  height: 47px;
}

.download-app__microsoft::before{
  position: absolute;
  content: "";
  display: block;
  background-image: url(../img/microsoft-logo.svg);
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 44px;
  height: 41px;
}
