.editor {
  padding-bottom: 41px;
}

.editor__filters {
  margin-bottom: 52px;
  @media (min-width: @tablet-width) {
    margin-bottom: 78px;
  }
  @media (min-width: @desktop-width) {
    margin-bottom: 75px;
  }
}

.editor__subsection {
  font-size: 14px;
  line-height: 30px;
  margin: 0;
  text-align: center;
}

.editor__correction {
  background-color: #f2f2f2;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 41px;
  @media (min-width: @desktop-width) {
    width: 940px;
  }
}

.editor__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.editor__wrap {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 300px 275px;
    grid-column-gap: 35px;
    padding-top: 57px;
  }
  @media (min-width: @desktop-width) {
    padding-left: 80px;
  }
}

.editor__list {
  padding-top: 40px;
  padding-bottom: 60px;
  margin-bottom: 37px;
  font-size: 0;
  text-align: center;
  border-bottom: 1px solid rgba(40, 54, 69, 0.1);
  @media (min-width: @tablet-width) {
    padding: 0;
    margin-bottom: 68px;
    border: none;
  }
}

.editor__item {
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
  width: 48px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  @media (min-width: @tablet-width) {
    padding-top: 10px;
    padding-bottom: 12px;
    margin: 0 0 17px;
    display: block;
    width: 275px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(40, 54, 69, 0.1);
    fill: #d22856;
    text-align: left;
  }
  @media (min-width: @desktop-width) {
    width: 410px;
  }
}

.editor__buttons {
  padding: 0;
  font-size: 0;
  display: block;
  width: 48px;
  height: 48px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  fill: #283645;
  opacity: 0.3;
  @media (min-width: @tablet-width) {
    fill: #D22856;
    opacity: 1;
  }
}

.editor__buttons svg {
  @media (min-width: @tablet-width) {
  width: 25px;
  height: 25px;
  }
  @media (min-width: @desktop-width) {
    width: 48px;
    height: 48px;
  }
}

.editor__buttons--active {
  fill: #D22856;
  opacity: 1;
}

.editor__buttons:active svg{
  fill: #D22856;
  opacity: 1;
}

.editor__buttons:hover svg{
  fill: #283645;
  opacity: 0.5;
}

.editor__buttons:focus svg{
  fill: #D22856;
  opacity: 1;
}

.editor__range {
  display: none;
  @media (min-width: @tablet-width) {
    display: block;
    position: absolute;
    bottom: 0;
    top: 29px;
    left: 70px;
  }
  @media (min-width: @desktop-width) {
    right: 21px;
  }
}

.editor__range--active {
  display: block;
  position: absolute;
  bottom: -20px;
  left: -20px;
  @media (min-width: @tablet-width) {
    display: block;
    position: absolute;
    bottom: 0;
    top: 29px;
    left: 70px;
  }
  @media (min-width: @desktop-width) {
    right: 21px;
  }
}

input[type="range"] {
  position: absolute;
  -webkit-appearance: none;
  -moz-apperance: none;
  height: 2px;
  width: 240px;
  background-color: #283645;
  @media (min-width: @tablet-width) {
    width: 202px;
  }
  @media (min-width: @desktop-width) {
    width: 288px;
  }
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #ffffff;
  border: 2px solid #d22856;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.editor__post {
  display: flex;
  flex-direction: column;
  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    width: 410px;
  }
}


.editor__button {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  height: 55px;
  width: 280px;
  padding: 5px;
  margin: 0 auto;
  color: #d22856;
  opacity: 1;
  border: 3px solid #d22856;
  box-sizing: border-box;
  border-radius: 30px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 12px;
  @media (min-width: @tablet-width) {
    margin-bottom: 24px;
  }
  @media (min-width: @desktop-width) {
    margin: 0;
    margin-right: 44px;
    width: 183px;
  }
}

.editor__button--disabled {
  color: #283645;
  border: 3px solid #283645;
  opacity: 0.1;
  margin-bottom: 0;
  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    margin-right: 0;
  }
}

.editor__photo--wrap {
  position: relative;
  display: block;
}

.editor__input {
  position: absolute;
  z-index: 5;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  top: 0;
  left: 0;
}
