.filters {
  background-color: #f2f2f2;
  padding-bottom: 100px;
  position: relative;

  @media (min-width: @tablet-width) {
    padding-bottom: 67px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 94px;
  }
}

.filters::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 22px;
  top: -22px;
  left: 0;
  background-image: linear-gradient(to bottom right, transparent 50%, #f2f2f2 50%);

  @media (min-width: @tablet-width) {
    height: 44px;
    top: -44px;
  }

  @media (min-width: @desktop-width) {
    height: 95px;
    top: -95px;
  }
}

.filters__wrapper {
  padding: 0 16px;
  padding-top: 81px;
  max-width: 100%;
  overflow: hidden;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    padding: 0 20px;
    padding-top: 54px;
    width: 620px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 60px;
    width: 940px;
  }
}

.filters__table {
  width: 840px;
  border-collapse: collapse;
  transform: translateX(-275px);

  @media (min-width: @tablet-width) {
    width: 620px;
    transform: translateX(0);
  }
}

.filters__table tr:not(:nth-child(1)) {
  border: 2px solid #e5e5e5;
  border-radius: 1px 0 0 0;
}

.filters__hide1 {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    border: 0;
    background: #f2f2f2;
    box-sizing: border-box;
    height: 75px;
    width: 153px;
  }

  @media (min-width: @desktop-width) {
    height: 94px;
  }
}

.filters__pink {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.filters__smile {
  text-transform: uppercase;
  margin: 0;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.filters__comment {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}


.filters__price {
  border-radius: 1px 0 0 0;
  color: #ffffff;
  text-align: center;
}

.filters__tariff {
  margin: 0;
  box-sizing: border-box;
  padding: 12px 12px 27px 12px;
  width: 280px;
  background-color: #283645;
  border-right: 2px solid #e5e5e5;
  border-radius: 1px 0 0 0;

  @media (min-width: @tablet-width) {
    width: 155px;
    padding: 11px 13px 7px;
    box-sizing: border-box;
    height: 75px;
  }

  @media (min-width: @desktop-width) {
    height: 94px;
    box-sizing: border-box;
    width: 233px;
    padding: 16px 66px 23px 67px;
  }
}

.filters__tariff p {
  margin: 0;
}

.filters__tariff p:nth-of-type(1) {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

.filters__tariff p:nth-of-type(2) {
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;

  @media (min-width: @desktop-width) {
    width: 100px;
    font-size: 24px;
    line-height: 30px;
  }
}

.filters__redactor td {
  border-right: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.filters__available {
  position: relative;
  padding: 12px 20px 14px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.filters__available::before {
  position: absolute;
  content: "";
  display: block;
  top: 19px;
  left: 228px;
  width: 31px;
  height: 21px;
  background-image: url("../img/yes.svg");
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    top: 12px;
    left: 60px;
  }

  @media (min-width: @desktop-width) {
    top: 19px;
    left: 101px;
  }
}

.filters__unavailable {
  position: relative;
  padding: 13px 20px 14px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.filters__unavailable::before {
  position: absolute;
  content: "";
  display: block;
  top: 18px;
  left: 230px;
  width: 27px;
  height: 27px;
  background-image: url("../img/no.svg");
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    top: 9px;
    left: 62px;
  }

  @media (min-width: @desktop-width) {
    top: 16px;
    left: 103px;
  }
}


.filters__hide {
  display: none;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    display: block;
    margin: 0;
    width: 155px;
    background-color: #ffffff;
    font-size: 14px;
    line-height: 30px;
    padding: 8px;
    padding-left: 16px;
    height: 45px;
  }

  @media (min-width: @desktop-width) {
    display: block;
    width: 234px;
    font-size: 18px;
    line-height: 30px;
    padding: 10px 20px;
    height: 59px;
  }
}

.filters__toggles {
  bottom: 45px;
  margin: 0 auto;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  border: none;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.filters__button {
  position: relative;
  display: block;
  padding: 0;
  width: 6px;
  height: 6px;
  margin-right: 19px;
  border: none;
  margin-bottom: 6px;
}

.filters__button::before {
  content: "";
  position: absolute;
  display: block;
  width: 6px;
  height: 6px;
  top: 0;
  left: 0;
  background-color: rgba(40, 54, 69, 0.3);
  border: rgba(40, 54, 69, 0.3);
  border-radius: 50%;
}

.filters__button:hover {
  opacity: 0.6;
}

.filters__button:active {
  opacity: 0.1;
}

.filters__button:focus {
  opacity: 0.1;
}

.filters__button:nth-last-child(1) {
  margin-right: 0;
}

.filters__button--current {
  opacity: 1;
}

.filters__button--current:hover {
  opacity: 1;
}

.filters__button--current:active {
  opacity: 1;
}

.reviews__button--current:focus {
  opacity: 1;
}

.filters__button--current::before {
  content: "";
  position: absolute;
  display: block;
  width: 6px;
  height: 6px;
  top: -2px;
  left: 0;
  background-color: #ffffff;
  border: 3px solid #283645;
  border-radius: 50%;
}

.filters__tariff--hit {
  position: relative;

  @media (min-width: @tablet-width) {
    overflow: hidden;
  }
}

.filters__tariff--hit::before {
  content: "";
  position: absolute;
  top: -39px;
  left: -50px;
  width: 53px;
  height: 36px;
  transform: rotate(-45deg);
  background-color: transparent;
  border-style: solid;
  border-width: 27px;
  border-color: transparent transparent #d22856;

  @media (min-width: @tablet-width) {
    left: -41px;
    top: -41px;
    height: 16px;
  }

  @media (min-width: @desktop-width) {
    top: -23px;
  }
}

.filters__tariff--hit::after {
  content: "хит";
  position: absolute;
  top: 14px;
  left: 11px;
  text-transform: uppercase;
  transform: rotate(-45deg);
  font-size: 14px;
  line-height: 30px;
  color: rgb(255, 255, 255);

  @media (min-width: @tablet-width) {
    top: 3px;
    left: 7px;
  }

  @media (min-width: @desktop-width) {
    top: 13px;
    left: 14px;
  }
}
