.form {
  padding-top: 54px;
  margin-bottom: 65px;
}

.form__history {
  margin-bottom: 55px;
  font-size: 14px;
  line-height: 30px;
}

.form__write {
  margin-bottom: 44px;
}

.form__subtitle {
  color: #d22856;
  margin-bottom: 17px;
  font-size: 14px;
  line-height: 30px;
}

.form__subtitle label {
  padding: 23px 78px 23px 20px;
  margin-bottom: 29px;
  font-size: 18px;
  line-height: 30px;
}

.form__mark {
  padding-top: 42px;
  padding-bottom: 44px;
}

.form__mark legend {
  color: #d22856;
  margin-bottom: 44px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.form-wrapper {
  background-color: #f2f2f2;
}

.form__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__item {
  margin-bottom: 58px;
}

.form__label {
  font-size: 18px;
  line-height: 30px;
}

.form__filters {
  margin-left: 22px;
}

.form__info {
  margin-bottom: 44px;
}

.form__phone {
  margin-bottom: 29px;
}

.form__phone label {
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 17px;
  color: #d22856;
  text-transform: uppercase;
}

.form__address label {
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 17px;
  color: #d22856;
  text-transform: uppercase;
}

.form__number {
  padding: 23px 83px 23px 20px;
  font-size: 18px;
  line-height: 30px;
}

.form-email {
  padding: 23px 83px 23px 20px;
  font-size: 18px;
  line-height: 30px;
}

.form__applications {
  margin-bottom: 42px;
}

.form__system {
  margin-left: 31px;
}

.form__applications legend {
  color: #d22856;
  margin-bottom: 44px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__free {
  margin-bottom: 42px;
}

.form__free label {
  color: #d22856;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.form__text {
  width: 276px;
  height: 197px;
  font-size: 18px;
  line-height: 30px;
  padding-top: 22px;
  padding-left: 20px;
  resize: none;
}

.form__button {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  line-height: 30px;
  background-color: #2aab6d;
  padding: 23px;
  width: 276px;
  margin-bottom: 46px;
  border: 2px solid #2aab6d;
  border-radius: 1px;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
}

.form__compulsory {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.form__compulsory span {
  color: #d22856;
}
