.main-nav--opened .main-nav__list{
  display: block;
}

.main-nav--closed .main-nav__list{
  display: none;
  @media (min-width: @desktop-width) {
    display: block;
    display: flex;
    justify-content: space-between;
  }
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.main-nav__item {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid #000000;
@media (min-width: @desktop-width) {
  border: none;
}
}

.main-nav__link {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  display: block;
  padding: 15px 73px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  @media (min-width: @desktop-width) {
    line-height: 18px;
    font-weight: 400;
    padding: 5px;
  }
}

.main-nav__item a[href]:hover{
  color: #D22856;

}

.main-nav__item a[href]:active{
    color: #D22856;
    opacity: 0.3;
}

.main-nav__toggle {
  position: absolute;
  top: 21px;
  right: 20px;
  z-index: 2;
  display: block;
  width: 50px;
  height: 24px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  @media (min-width: @tablet-width) {
    right: 60px;
  }
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 50px;
  height: 3px;
  background-color: #ffffff;
  box-shadow: 0 9px 0 0 #ffffff, 0 17px 0 0 #ffffff;
}

.main-nav--closed .main-nav__toggle:hover::before {
  background-color: #D22856;
  box-shadow:
    0 9px 0 0 #D22856, 0 17px 0 0 #D22856;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: fade(#D22856, 30%);
  box-shadow:
    0 9px 0 0 fade(#D22856, 30%), 0 17px 0 0 fade(#D22856, 30%);
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 11px;
    left: 20px;
    width: 25px;
    height: 3px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: (#D22856);
  }

  &:active::before,
  &:active::after {
    background-color: fade(#D22856, 30%);
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}
