.modal {
  display: none;
  position: fixed;
  width: 100%;
  top: 25%;
  padding-top: 40px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    padding: 0;
    width: 460px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 40px;
    height: 363px;
  }

  @media (min-width: @desktop-width) {
    width: 780px;
    max-height: 377px;
  }
}

.modal__show {
  display: block;
}

.modal__wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 300px;
  }

  @media (min-width: @desktop-width) {
    width: 360px;
  }
}

.modal__wrapper--posted {
  @media (min-width: @desktop-width) {
    width: 396px;
  }
}

.modal__status {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 26px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 22px;
  }
}

.modal__subtitle {
  margin: 0;
  padding: 0;
  font-size: 14px;
  margin-bottom: 50px;
  color: #000000;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    margin-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 24px;
  }
}

.modal__subtitle--posted {
  margin-bottom: 41px;
}

.modal__wrap {
  padding-bottom: 52px;

  @media (min-width: @desktop-width) {
    background-color: #f2f2f2;
    padding-top: 52px;
    padding-bottom: 55px;
  }
}

.modal__wrap--posted {
  padding-top: 48px;
  background-color: #f2f2f2;
}

.modal__close {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  line-height: 30px;
  background-color: #2aab6d;
  padding: 15px 25px 17px;
  width: 276px;
  border: 2px solid #2aab6d;
  border-radius: 1px;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;

  @media (min-width: @tablet-width) {
    width: 296px;
  }
}
