.page-footer {
  padding-top: 40px;
  padding-bottom: 51px;
  text-align: center;
  display: flex;
  flex-direction: column;
@media (min-width: @tablet-width) {
  flex-direction: row;
  padding-top: 20px;
}
@media (min-width: @desktop-width) {
  padding-left: 10px;
  padding-right: 0;
  flex-direction: row;
  padding-top: 62px;
}
}

.page-footer__logo {
  margin-bottom: 37px;
@media (min-width: @tablet-width) {
  margin-right: 76px;
}
@media (min-width: @desktop-width) {
  margin-right: 240px;
}
}

.page-footer__logo--desktop {
  display: none;
  @media (min-width: @desktop-width) {
    display: block;
  }
}

.page-footer__logo--nodesktop {
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-footer__logo:hover path{
  fill: #d22856;
}

.page-footer__logo:active {
  opacity: 0.3;
}

.page-footer__logo:focus {
  opacity: 0.3;
}

.page-footer__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 173px;
  align-items: center;
  margin-bottom: 35px;
  @media (min-width: @tablet-width) {
    margin: 0;
    margin-right: 97px;
  }
  @media (min-width: @desktop-width) {
    margin: 0;
    margin-right: 226px;
  }
}


.page-footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 48px;
  height: 48px;
  margin-bottom: 5px;
}
.page-footer__item {
  margin-right: 14px;
}

.page-footer__item:nth-of-type(3) {
  margin-right: 0;
}

.page-footer__copyright {
  display: flex;
  padding-left: 75px;
  @media (min-width: @tablet-width) {
    padding-left: 0;
    padding-top: 7px;
  }
}

.page-footer__item:hover circle {
  opacity: 1;
}

.page-footer__item:active circle {
  opacity: 0.3;
}

.copyright__text {
  padding: 0;
  margin: 0;
  padding-top: 11px;
  margin-right: 13px;
  font-size: 14px;
  line-height: 18px;
  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}

.copyright__link:hover path {
  fill: #283645;
}

.copyright__link:active path {
  fill: #283645;
  opacity: 0.3;
}

.copyright__link {
  width: 27px;
  height: 34px;
}

.copyright__link:focus path {
  fill: #283645;
  opacity: 0.3;
}
