.page-footer {
  padding-top: 40px;
  padding-bottom: 51px;
  text-align: center;
  display: flex;
  flex-direction: column;
@media (min-width: @tablet-width) {
  flex-direction: row;
  padding-top: 36px;
}
@media (min-width: @tablet-width) {
  flex-direction: row;
  padding-top: 70px;
}
}

.page-footer__logo {
  margin-bottom: 41px;
@media (min-width: @tablet-width) {
  margin-right: 76px;
}
@media (min-width: @desktop-width) {
  margin-right: 240px;
}
}

.page-footer__logo:hover path{
  fill: #d22856;
}

.page-footer__logo:active {
  opacity: 0.3;
}

.page-footer__logo:active path:not(:nth-last-child(1)){
  fill: #283645;
}

.page-footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 54px;
  margin-bottom: 54px;
  @media (min-width: @tablet-width) {
    padding-left: 0;
    margin-right: 74px;
  }
  @media (min-width: @desktop-width) {
    margin-right: 209px;
  }
}

.page-footer__item {
  margin-right: 14px;
}

.page-footer__item:nth-of-type(3) {
  margin-right: 0;
}

.page-footer__copyright {
  display: flex;
  padding-left: 75px;
  @media (min-width: @tablet-width) {
    padding-left: 0;
    padding-top: 8px;
  }
}

.page-footer__item:hover circle {
  opacity: 1;
}

.page-footer__item:active circle {
  opacity: 0.3;
}

.copyright__text {
  padding: 0;
  margin: 0;
  margin-right: 13px;
  font-size: 14px;
  line-height: 18px;
@media (min-width: @tablet-width) {
  font-size: 18px;
  margin-top: 6px;
}
}

.copyright__link:hover path {
  fill: #283645;
}

.copyright__link:active path {
  fill: #283645;
  opacity: 0.3;
}
