.page-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
}

.page-header__opened {
  background-color: #283645;
}

.page__top-menu {
  display: flex;
  justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 22px;
  width: 100%;
}

.page-header__logo {
@media (min-width: @desktop-width) {
  display: none;
}
}

.page__toggle {
@media (min-width: @desktop-width) {
  display: none;
}
}
