.research {
  display: none;
@media (min-width: @tablet-width) {
  display: block;
  padding-top: 102px;
  padding-bottom: 30px;
  padding-left: 310px;
  margin-bottom: 109px;
}
@media (min-width: @desktop-width) {
  display: block;
  padding-top: 115px;
  padding-bottom: 120px;
  width: 100%;
  background-color: #f2f2f2;
  margin: 0 auto;
}
}

.research__news {
  position: relative;
@media (min-width: @tablet-width) {
  width: 297px;
}
@media (min-width: @desktop-width) {
  width: 534px;
  padding-left: 188px;
}
}

.research__news::before {
  position: absolute;
  content: "";
  display: block;
  background-image: url("../img/timer.svg");
  background-repeat: no-repeat;
  @media (min-width: @tablet-width) {
    width: 238px;
    height: 276px;
    top: -50px;
    left: -290px;
  }
  @media (min-width: @desktop-width) {
    width: 298px;
    height: 345px;
    left: -117px;
  }
}

.research__effect {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 30px;
@media (min-width: @tablet-width) {
  line-height: 36px;
  margin-bottom: 24px;
  width: 171px;
}
@media (min-width: @desktop-width) {
  line-height: 30px;
  margin-bottom: 37px;
  width: 100%;
}
}

.research__scintists {
@media (min-width: @tablet-width) {
margin: 0;
padding: 0;
font-size: 14px;
margin-bottom: 24px;
width: 305px;
}
@media (min-width: @desktop-width) {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 47px;
  width: 100%;
}
}

.research__link {
@media (min-width: @tablet-width) {
  color: #d22856;
  font-size: 14px;
}
@media (min-width: @desktop-width) {
  font-size: 18px;
  line-height: 30px;
}
}
