.reviews {
  padding-top: 50px;
  padding-bottom: 60px;
}

.reviews__author-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 31px;
  color: #000000;
}

.reviews__text {
  font-size: 14px;
  line-height: 30px;
}
