.reviews {
  padding-top: 41px;
  padding-bottom: 77px;
  margin-bottom: 23px;
@media (min-width: @tablet-width) {
  padding-top:0;
  padding-bottom: 0;
  margin-bottom: 63px;
}
@media (min-width: @desktop-width) {
  padding-top: 185px;
  padding-bottom: 0;
  margin-bottom: 82px;
}
}

.reviews__list {
  position: relative;
}

.reviews__item::before {
  @media (min-width: @desktop-width) {
    position: absolute;
    content: "";
    display: block;
    width: 79px;
    height: 63px;
    background-image: url(../img/quotes.svg);
    background-repeat: no-repeat;
    top: -110px;
    left: 46%;
  }
}

.reviews__item {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  @media (min-width: @desktop-width) {
    padding-left: 108px;
    padding-right: 108px;
  }
}

.reviews__author-name {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  padding: 0;
  margin: 0;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 13px;
  color: #000000;
@media (min-width: @tablet-width) {
  order: 2;
  margin-bottom: 0;
  font-size: 20px;
}
@media (min-width: @desktop-width) {
  font-size: 22px;
  line-height: 30px;
}
}

.reviews__text {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 280px;
@media (min-width: @tablet-width) {
  order: 1;
  font-size: 18px;
  margin-bottom: 36px;
  width: 620px;
}
@media (min-width: @desktop-width) {
  width: 100%;
  font-size: 18px;
  margin-bottom: 36px;
}
}
.reviews__author-age-profession {
  display: none;
  padding: 0;
  margin: 0;
@media (min-width: @tablet-width) {
  display: block;
  text-align: center;
  order: 3;
  margin-bottom: 49px;
  font-size: 14px;
  line-height: 30px;
}
@media (min-width: @desktop-width) {
  display: block;
  text-align: center;
  font-size: 18px;
  margin-bottom: 50px;
}
}

.reviews__prev,
.reviews__next {
  display: none;
@media (min-width: @desktop-width) {
  display: block;
}
}

.reviews__toggles {
  margin: 0 auto;
}

.slider__toggles {
  position: absolute;
  bottom: -46px;
  display: flex;
  flex-wrap: wrap;
  left: 50%;
  transform: translateX(-50%);
  @media (min-width: @tablet-width) {
    bottom: 0;
  }
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.reviews__prev {
  position: absolute;
  background-image: url(../img/prev.svg);
  width: 22px;
  height: 41px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  top: 31px;
  left: -10px;
}

.reviews__next {
  position: absolute;
  width: 22px;
  height: 41px;
  border: none;
  background-color: transparent;
  background-image: url(../img/next.svg);
  background-repeat: no-repeat;
  top: 31px;
  right: -10px;
}

.reviews__prev:hover {
  opacity: 1;
}

.reviews__prev:active {
  opacity: 0.1;
}

.reviews__prev:focus {
  opacity: 0.1;
}

.reviews__next:hover {
  opacity: 1;
}

.reviews__next:active {
  opacity: 0.1;
}

.reviews__next:focus {
  opacity: 0.1;
}


.slider__toggle {
  position: relative;
  display: block;
  padding: 0;
  width: 6px;
  height: 6px;
  margin-right: 19px;
  border: none;
  margin-bottom: 6px;
}

.slider__toggle::before {
  content: "";
  position: absolute;
  display: block;
  width: 6px;
  height: 6px;
  top: 0;
  left: 0;
  background-color: rgba(40, 54, 69, 0.3);
  border: rgba(40, 54, 69, 0.3);
  border-radius: 50%;
}


.slider__toggle:hover {
  opacity: 0.6;
}

.slider__toggle:active {
  opacity: 0.1;
}

.slider__toggle:nth-last-child(1) {
  margin-right: 0;
}

.slider__toggle--current {
  opacity: 1;
}

.slider__toggle--current:hover {
  opacity: 1;
}

.slider__toggle--current:active {
  opacity: 1;
}

.slider__toggle--current:focus {
  opacity: 1;
}

.slider__toggle--current::before {
  content: "";
  position: absolute;
  display: block;
  width: 6px;
  height: 6px;
  top: -2px;
  left: 0;
  background-color: #FFFFFF;
  border: 3px solid #283645;
  border-radius: 50%;
}
